absl-py==0.9.0
astor==0.8.1
astroid==2.3.3
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
filelock==3.0.12
gast==0.2.2
gdown==3.10.3
google-auth==1.10.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.28.1
h5py==2.10.0
idna==2.8
imageio==2.6.1
isort==4.3.21
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.2.1
matplotlib==3.2.1
networkx==2.4
numpy==1.18.1
oauthlib==3.1.0
opencv-contrib-python==3.4.2.17
opencv-python==3.4.2.17
opt-einsum==3.1.0
Pillow==9.3.0
protobuf==3.11.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
